<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Student confirmation</title>

    <!-- <link rel="stylesheet" th:href="@{/css/demo.css}"> -->
</head>

<body>

    <h3>Student confirmation</h3>

    The Student is Confirmed: <span th:text="${student.firstName} + ' ' + ${student.lastName} + ' ' + 'Country: ' + ${student.country} + ' favoriteLanguage: ' + ${student.favoriteLanguage} + ' favoriteSYstem: ' + ${student.favoriteSystem}">
    <!-- <p th:text= "'Time on the server is: ' + ${theDate}" class="funny"/> -->
</body>
</html>